.icon-padding-top {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.icon2-padding-top {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.text-padding-top {
    padding-top: 16px;
}

.icon-align-left{
    align: left;
}

.icon-align-right{
    text-align: right !important;
}

/*.fixed-size{*/
/*width:120px; !* or whatever width you want. *!*/
/*max-width:120px; !* or whatever width you want. *!*/
/*display: inline-block;*/
/*}*/

.line-big {
    font-size: 12px;
    line-height: 100%;
    text-transform: capitalize;
}

.text-number {
    color : #39f;
    font-size: 12px;
}

.float-right {
    float: right;
}

.label-bold {
    font-weight: bold !important;
    font-size: 14px !important;
}

.label-header {
    font-weight: bold !important;
    font-size: 18px !important;
}

.action-padding-top{
    padding-top: 20px;
}

.filter-padding-top{
    padding-top: 16px;
}

.filter-detail{
    padding-top: 11px;
    padding-right: 5px;
}

.route-header{
    vertical-align: top !important;
    font-size: 18px !important;
}

.id-column {
    column-width: 10px
}

.column-checkbox{
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;
    width: 140%;
    height: 140%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}

.cell-line-break {
    white-space:pre-wrap !important;
    word-wrap:break-word !important;
}

.header-title-padding-top{
    display:inline-block !important;
    padding-top: 14px !important;
}

.btn-custom-category {
    display:inline-block !important;
    padding-top: 50px !important;
}

.btn-custom-action-group {
    display:inline-block !important;
    padding-top: 4px !important;
}

.custom-btn-action {
    display:inline-block !important;
    padding-top: 25px !important;
}

.select-style {
    background: transparent;
    border-width: 1px;
    border-color: #E0E0E0;
    border-style: solid;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 120px;
    height: 33px;
}

.customer-tag {

    color: white;


}

.custom-border-left {
    border-left: 1px solid grey !important;
}

.custom-border-top {
    border-top: 1px solid grey !important;
}

.custom-border-bottom {
    border-bottom: 1px solid grey !important;
}

.detail {
    border: 1px solid #dadada !important;
    border-radius: 4px !important;
}

.custom-table-border {
    border-width: 1px !important;
    border-color: #E0E0E0 !important;
    border-style: solid !important;
}

.custom-filter-box{
    height: 31px !important;
    width: 100% !important;
    border-width: 1px !important;
    border-color: #E0E0E0 !important;
    border-style: solid !important;
    border-radius: 1.071em;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.cham-cong{
    padding: 8px;
    width: 100% !important;
    border-width: 1px !important;
    border-color: #E0E0E0 !important;
    border-style: solid !important;
}

.cham-cong-success{
    background: #85bb65;
    padding: 8px;
    width: 100% !important;
    border-width: 1px !important;
    border-color: #E0E0E0 !important;
    border-style: solid !important;
}

.filter-box-padding-top{
    padding-top: 19px;
    width: 30% !important;
}

.filter-icon-padding-top{
    padding-top: 19px;
    margin-top: 12px !important;
    padding-right: 0px !important;
}

.custom-code {
    margin: 3px 0 3px 3px !important;
    display: inline-block;
}

.checkbox-padding-left{
    padding-left: 14px !important;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bdbdbd;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #26a69a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.column-min-len {
    min-width: 100px;
}

.table-max-len {
    display: block !important;

}
.table-min-height {
    min-height: 320px !important;
}

.custom-small-icon-right{
    padding-left: 20px;
    height: 20px;
}

.custom-small-icon-left{
    height: 20px;
    padding-right: 20px !important;
}

.custom-cl-header-small{
    min-width: 70px;
}
.custom-column-small {
    width: 70px !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.custom-cl-header-medium{
    min-width: 120px;
}

.custom-column-medium {
    width: 120px !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.custom-cl-header-large{
    min-width: 150px;
}

.custom-column-large {
    width: 150px !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.custom-cl-header-slarge{
    min-width: 220px;
}

.custom-column-slarge {
    max-width: 220px !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.custom-cl-header-xlarge{
    min-width: 300px;
}

.custom-column-xlarge {
    width: 300px !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.custom-btn-type {
    height: 29px !important;
}

.custom-categories-title {
    text-align: center;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 40px;
    font-weight: bold;
}

.custom-categories-box {
    border-bottom: 2px solid #E0E0E0;
    padding-top: 16px;

}

.custom-categories-mini {
    display: inline-block !important;
    vertical-align: top !important;
    width: 1%;
}

.custom-table-inline {
    display: inline-block !important;
    vertical-align: top !important;
    margin-left: 2%;
    width: 96%;
}

.custom-li-bg {
    background-color: grey !important;;
}

.container-checkbox-dis {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: not-allowed;
    pointer-events: none;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox-dis input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #bdbdbd;
}

/* On mouse-over, add a grey background color */
.container-checkbox-dis:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox-dis input:checked ~ .checkmark {
    background-color: grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox-dis input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox-dis .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.custom-btn-gr {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-right: 1px solid #E0E0E0;
    margin-left: 0px !important;
    padding: 2px 8px !important;
    min-width: 150px !important;
}

.custom-btn-active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-right: 1px solid #E0E0E0;
    margin-left: 0px !important;
    padding: 2px 8px !important;
    min-width: 130px !important;
}

.custom-btn-gr:hover {
    background-color: #c4c5bd !important;
}

.custom-tab {
    font-weight: bold !important;
}

.custom-heading {
    padding: 10px 24px 1px !important;
}

.custom-cursor-poiter {
    cursor: pointer;
}

.custom-btn-group {
    white-space: nowrap;
}

.custom-txt-center  {
    text-align: center !important;
}

.custom-margin {
    margin: auto;
}

.custom-input-row {
    padding-top: 10px !important;
}

.custom-full-size {
    width: 100% !important;
}

.custom-inner-1st {
    padding: 24px 24px 0px !important;
}

.custom-inner-2nd {
    padding: 0px 24px !important;
}

.custom-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.custom-label-ot{
    display: inline-block;
    min-width: 280px;
}

.custom-selectize {
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
}

.custom-opr {
    font-size: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #E0E0E0 !important;
    padding-bottom: 12px;
}

.no-border {
    border: 0px !important;
}

.custom-info {
    padding-bottom: 0px !important;
    padding-top: 16px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
}

.custom-info-2 {
    padding-bottom: 0px !important;
    padding-top: 18px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
}

.custom-info-3 {
    padding-bottom: 10px !important;
    padding-top: 16px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
}

.custom-info-4 {
    padding-bottom: 10px !important;
    padding-top: 12px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
}

.custom-info-5 {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
}

.custom-input {
    padding-bottom: 9px !important;
    padding-top: 9px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
    color: black;
}

.custom-password {
    padding-bottom: 0px !important;
    padding-top: 21px !important;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 ;
}

.custom-label {
    padding-top: 16px;
    font-weight: bold !important;
    font-size: 15px !important;
}

.custom-note {
    padding-top: 16px;
}
.no-space {
    padding: 0px !important;
    margin: 0px !important;
}
.no-space-top {
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.no-space-bottom {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.no-space-above-below {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.no-space-2-side {
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

.custom-modal-size {
    max-height: 250px !important;
}

.custom-opr-horizontal {
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0 !important;
}

.custom-horizontal {
    padding-top: 3px;
}


.custom-inner-content {
    padding: 16px 16px 16px !important;
}

.custom-active-txt {
    font-size: 13px;
}

span.customCombo,
span.customCombo .k-dropdown-wrap,
span.customCombo .k-select
{
    background: none;
    border-width: 0 0 1px;
    box-shadow: none !important;
}
span.customCombo .k-icon.k-i-close
{
    display: none !important;
}

.custom-tag{
    border-radius: 18px;
    font-size: 14px;
    border: 0 solid #d0d0d0;
    background: #f2f2f2;
    margin: 0 3px 3px 0;
    padding: 5px 14px 5px;
}

.custom-icon-input{
    position: relative;
    top: -4px;
}

.custom-long-text{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-big-size-modal{
    width: 96%;
    min-height: 90%;
}

.custom-color-text-scrap{
    color: #ff0000;
}

.wizard a {
    padding: 7px 8px 7px 0px;
    /*margin-right: 5px;*/
    background: rgba(173, 216, 230, 0.8);
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 16px inset transparent;
    border-bottom: 18px inset transparent;
    border-left: 16px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 16px inset transparent;
    border-bottom: 18px inset transparent;
    border-left: 16px solid rgba(173, 216, 230, 0.8);;
    position: absolute;
    content: "";
    top: 0;
    right: -16px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #2196f3;
    color: #fff;
}

.wizard .current:after {
    border-left-color:#2196f3;
}


.wizard .blue {
    background: #2196f3;
    color: #fff;
}
.wizard .blue:after {
    border-left-color:#2196f3;
}

.wizard .grey {
    background: darkgrey;
    color: #fff;
}
.wizard .grey:after {
    border-left-color:darkgrey;
}

.wizard .black {
    background: #363636;
    color: #85bb65;
}
.wizard .black:after {
    border-left-color:#363636;
}

.wizard .orange {
    background: #ffa000;
    color: #fff;
}
.wizard .orange:after {
    border-left-color:#ffa000;
}

.wizard .red {
    background: #f4516c;
    color: #fff;
}
.wizard .red:after {
    border-left-color:#f4516c;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #3598dc; top: 60px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: blue; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #3598dc;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard-stepnum { height: 37px;}
/*END Form Wizard*/

.cursor-not-allowed {
    cursor: not-allowed;
}

.custom-fake-button {
    border: none;
    background: white;
    font-size: 14px;
    color: #1e88e5;
    cursor: pointer;
}

.custom-fake-button:hover {
    color: blue;
}

input::placeholder {
    font-size: 13px;
}

.custom_text_red{
    color: red;
    font-weight: 900;
}

.custom_text_green{
    color: green;
    font-weight: 900;
}

.arrow-btn{
    height:30px;
    line-height:30px;
    vertical-align:middle;
    text-align:center;
    padding:0 10px;
    color:#ffffff;
    background-color:#007bff;
    position:relative;
    display:inline-block;
}
arrow-btn:after{
    position:absolute;
    right:-20px;
    content:" ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #007bff;
}

.custom-btn-small {
    margin-top: 4px;
    line-height: 32px!important;
    min-width: 14px;
    font-size: 11px!important;
}

.material-icons {
    font-size: 18px !important;
}

/* custom drop down icon */
#sidebar_main .menu_section > ul > li.submenu_trigger li.submenu_trigger > a:before {
    content: '\e313'!important;
}

/* span with long tooltip */
.spanWithLongTooltip {
    margin: 0px;
    float: right; position: absolute;
}

.custom-bg-grey {
    background-color: lightgrey !important;
}

.custom-bg-danger {
    /*background-color: #ffcdd2 !important;*/
    background-color: rgba(229,57,53,0.12) !important;
}

.custom-bg-primary {
    /*background-color: #ffcdd2 !important;*/
    background-color: rgba(33,150,243,0.12) !important;
}


.editor {
    overflow: auto;
    min-height: 140px;
}

.menu-highlighted {
    font-weight: bold;
}

.product-search, .user-search {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.product-search {
    max-width: 500px;
}

.product-search .list-group-item.active {
    background-color: #f5f5f5;
}

.product-search:hover, .user-search:hover {
    cursor: pointer;
}

.product-search .product-photo-container {
    float: left;
    width: 100px;
}

.product-search .product-photo {
    max-width: 80px;
    max-height: 50px;
    border-radius: 3px;
    margin: auto;
}

.product-search .list-group-item-heading, .product-search .list-group-item-text {
    margin-left: 10px;
}

.user-search .list-group-item.active {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.user-search .list-group-item.active .text-muted {
    color: #ccc;
}

.user-search .list-group-item.active .text-primary {
    color: #fff;
}

.user-search .list-group-item {
    padding: 5px;
}

.user-search .user-photo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
}

.documentation-attr {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.documentation-element {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.section-heading {
    margin-top: 30px;
}

.demo-scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    background: white;
}

.notification-box {
    min-height: 380px;
    border-left: none;
    border-right: none;
    border-radius: 0px
}

.notification-unread {
    background-color: #E0E0E0;
}

.custom-comment-btn {
    text-transform: none; font-size: 14px !important;
}

growl-notifications {
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 5000;
}

growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 300px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

.custom-padding {
    margin: 5px !important;
}

.custom-box-padding-top {
    padding-top: 16px !important;
}

.custom-space {
    padding-left: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 8px !important;
}

h1 {
    position: relative;
    margin-top: 20px;
}
h1.one {
    margin-top: 0;
}
h1.one:before {
    content: "";
    display: block;
    border-top: solid 1px #ddd;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
h1.one span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}

h4 {
    position: relative;
    margin-top: 20px;
}
h4.one {
    margin-top: 0;
}
h4.one:before {
    content: "";
    display: block;
    border-top: solid 1px #ddd;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
h4.one span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}

.custom-text-remove {
    background-color: #ffe7e7;
    text-decoration: line-through;
}

.custom-text-new {
    background-color: #ddfade;
}
/* None project */
.none-project {
    /*background-color: rgba(224, 224, 224, 0.6);*/
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.custom-avatar-small {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.custom-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.custom-avatar-li {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.custom-overflow-horizontal {
    overflow-x: auto !important;
    white-space: nowrap !important;

}

.custom-code-box {
    display: inline-block !important;
    background-color: gainsboro;
    color: #39f;
    border-radius: 0.5em;
    font-size: 12px;
    line-height: 1.5em;
    padding-left: 4px;
    padding-right: 4px;
}

.custom-badge {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    color: #1d1d1d;
    border-radius: 0.25rem;
    /*display: inline-block;*/
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
    display: none;
}

.filter-tag {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0 .75rem;
    background-color: #4db6ac;
    color: #1d1d1d;
    cursor: pointer;
    outline: none;
    position: relative;
    border-radius: 0.2em;
    margin-right: 5px;
    margin-bottom: 2px;
}

.filter-tag:hover  .custom-badge {
    display: inline-block;
}

.remove-condition-box {
    display: none;
}

.condition-box {
    padding-top: 0px !important;
}

.condition-box:hover  .remove-condition-box {
    display: inline-block;
}

.custom-striped {
    background-color: #f5f5f5 !important;
}

.custom-striped-parent {
    background-color: #bdbdbd !important;
}

.custom-cell-no-space {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height: 10px !important;
}

.selectize-control.multi .selectize-input {
    max-height: 150px;
    overflow: auto;
}

.custom-row-border-vertical td {
    border-left:1px solid rgba(0,0,0,.12);
}

.custom-cell-multiple-vertical {
    height: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 8px 8px 8px 8px;
}
.custom-h3 {
    padding-top: 16px;
    font-weight: bold !important;
    font-size: 15px !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.custom-warning{
    background-color: #ffee58!important;
}

.custom-primary{
    background-color: #90caf9!important;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:200px;
    height: 200px;
    marin:20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card,.content-card {
    padding: auto;
    text-align: center;

}
.md-card-content-upper{
    display: flex;
}
.table-process{
    width:100%;
    margin-left: auto;

}
.card{
    margin:20px;
    margin-left: 20%;
}
.card-home{
    margin-left: 25%;
}
.opening-table{
    margin-top:20px;
    margin-left: 50px;
    height: 100px;
}
.table-fixed thead th{
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}

.table-fixed thead td{
    position: sticky;
    z-index: 4;
    background: #fff;
    top: 35px;
}

.table-height-fixed{
    /*height: auto;*/
    max-height: 800px;
    min-height: 325px !important;
}
.table-height-fixed-2{
    /*height: auto;*/
    height: calc(80% - 50px);
}
.header-fixed{
    z-index: 9!important;
}

.custom-panel {
    border-radius: 5px !important;
    margin: 8px !important;
}

.custom-panel-label {
    font-size: 16px;
    color: #888;
}

.custom-panel-label-2 {
    font-size: 14px;
    text-align: center;
}

.green-text {
    color: #363636 !important;
    font-weight: bold !important;
}
.title-organization{
    line-height: 43px;
}

.selectize-custom.selectize-control.single .selectize-input.disabled{
    opacity: unset;
    background-color: unset;
    /*margin-top: -5px;*/
}

.selectize-control .selectize-input .item{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 95%;
}

.icon-pointer i{
    cursor: pointer;
}

.hide{
    display: none;
}

.uk-margin-small-top{
    margin-top: 0px!important;
}

.mini-margin-top{
    margin-top: 42px!important;
}
.uk-margin-small-top.selectize-dropdown{
    z-index: 999;
}

.custom-box {
    border: 1px solid #E0E0E0 !important;
    padding: 10px;
    border-radius: 4px;
}

.custom-item {
    background: #eaeaea;
    color: #39f;
    border-radius: 40px;
    box-shadow: none;
    font-size: 15px;
}

.custom-item-2 {
    background: #eaeaea;
    border-radius: 40px;
    box-shadow: none;
    font-size: 15px;
}

.md-card .md-card-content.md-card-register{
    padding: 48px 72px;
}

#page_content #page_heading.uk-active{
    z-index: 1004;
}
.custom-selectize .selectize-input.items{
    border: none;
    border-bottom: 1px solid #d0d0d0;
}
.custom-margin-selectize .selectize-control.single{
    margin-top: 0;
}
.custom-selectize.mgTop3{
    margin-top: 3px!important;
}

.category-box-left {
    border: 1px solid grey !important;
    margin-right: 4px;
}

.category-box-right {
    border: 1px solid grey !important;
}

.custom-data-info {
    text-align: center;
    font-size: 12px;
}

.custom-placeholder {
    color: darkgrey;
    font-size: 12px;
    margin-left: 8px !important;
}

.custom-un-remove, .custom-un-remove>td {
    background: #ffcdd2 !important;
}

.custom-date-picker {
            width: 100%;
            height: 34px !important;
            padding-top: 5px !important;
}

.pageDetail .selectize-control .selectize-input.disabled{
    opacity: 1;
    background-color: unset;
}

.pageDetail .selectize-control.multi .selectize-input.disabled>div{
    opacity: 1;
    background-color: unset;
    color: #303030
}

.material .category-box-right{
    padding-left: 20px;
    padding-bottom: 30px;
}

.category-box.material .uk-row-first {
    margin-top: 20px;
}

.custom-td {
    max-width: 300px !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.showTree{
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
}

.hiddenTableTree .uk-grid.uk-margin-small-bottom{
    display: none;
}

.marginTop20{
    margin-top: 20px;
}

.marginTop22{
    margin-top: 22px;
}

.uk-modal-dialog-replace .js-modal-confirm-cancel{
    float: right;
}

.custom-highlight {

}

.custom-no-left-right {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.custom-table-height{
    /*height: auto;*/
    min-height: 400px !important;
}

.title-bold {
    font-weight: bold;
    font-size: 16px;
}

.custom-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.custom-trace-box {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding-top: 8px;
    padding-left: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f5f5f5;
    padding: 8px;
}
.grid-item {
    padding: 4px;
}

.marginTopMinus10{
    margin-top: -10px;
}

.custom-border{
    border: 1px solid #E0E0E0;
}

#password_modal #changePassForm > div{
    top: 100px!important;
}

.label-padding-top{
    padding-top: 10px;
}

textarea.border-around{
    border-width: 1px 1px 1px;
}

.text-inline{
    display: inline-block;
    vertical-align: middle!important;
}

.colorDisabled{
    color: #444!important;
}

.overflow-unset{
    overflow: unset;
}

.hoverEdit:hover{
    color: #85bb65;
}

.uk-table > thead td{
    max-width: 250px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-badge-width{
    width: 80px;
}

.custom-badge-width-90{
    width: 90px;
}

.custom-badge-width-60{
    width: 60px;
}

.hr_border{
    border-top: 1px dashed #ebedf2;
}

.req{
    color: #f4516c !important
}

.text-right{
    text-align: right;
}

.mgtop5{
    margin-top: 5px;
}

.input-group {
    display: flex;
}
.input-group-append {
    display:flex;
    align-items:center;
    /*   margin-left:-1px; */
}
.input-group-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    height:37px;
    color: #495057;
    padding: 0 10px 0;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-left:none;
}

.uk-input-group-addon{
    font-size: 14px;
}

.selectize-control.single .selectize-input{
    padding: 8px 8px 0px;
}

.bgWhite{
    background: #ffffff;
}

.caption-text{
    display: table-cell;
    width: 33%;
    padding-left: 0;
    padding-right: 0;
}

.caption-text-50{
    display: table-cell;
    width: 50%;
    padding-left: 0;
    padding-right: 0;
}

.caption-item{
    display: table;
    width: 100%;
    padding-top: 1.07rem;
    padding-bottom: 1.07rem;
}

.caption-border{
    border-bottom: 0.07rem dashed #ebedf2;
}

.timeline-item{
    display: table-cell;
    vertical-align: top;
    padding-top: 0.6rem;
    font-weight: 500;
    font-size: 1.3rem;
    position: absolute;
    text-align: right;
    width: 3.57rem;
}

.timeline-item-desc{
    display: table-cell;
    width: 100%;
    vertical-align: top;
    font-size: 1rem;
    padding-left: 7rem;
}

.timeline-item-link{
    font-size: 0.85rem;
    text-decoration: none;
}

.mgtop10{
    margin-top: 10px;
}

.btn-flat {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.custom-tab-header {
    font-size: 14px !important;
    font-weight: bold;
}

textarea.md-input.textarea-border{
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
}

.investCash-form .uk-grid{
    margin-top: 10px;
}
.table-report-profit thead{
    background: #3f86c3;
    color: #ffffff;
}
.table-report-profit th, .table-report-profit td{
    border: 1px solid #f4f5f8;;
}

.custom-td {
    border: 1px solid #ddd;
}

.td-left {
     text-align: left;
     padding: 4px !important;
 }

.td-right {
    text-align: right;
    padding: 4px !important;
}

.td-center{
    text-align: center;
    padding: 4px !important;
}

table.uk-table, table.uk-table td {
    border: 1px solid #ddd !important;
}

table.uk-table th {
   text-align: center;
    padding: 4px 4px;
}

.text-middle{
    display: table-cell;
    height: 200px;
    vertical-align: middle;
}

.border-right-item{
    border-right: 1px solid #ebedf2;
}

.marginTopMinus15{
    margin-top: -15px;
}

.paddingLeft0 {
    padding-left: 0;
}
.zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.table-height-fixed2{
    /*height: auto;*/
    height: 325px !important;
}

.doc-header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.doc-title {
    font-size: 16px;
    text-transform: uppercase;
}
 .doc-center {
     text-align: center;
 }

 .doc-paper {
     /*line-height: 15px;*/
 }

 .table-overflow {
     overflow: scroll; /* Scrollbar are always visible */
     overflow: auto;
 }

 .removed-text {
     text-decoration: line-through;
 }

.custom-container {
    position: relative;
    padding: 4px;
}

/*.custom-container img {*/
/*    width:auto;*/
/*    height: auto;*/
/*}*/

.custom-container .btn {
    position: absolute;
    top: 85%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 14px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.custom-container .btn2 {
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 14px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.custom-container .btn:hover {
    background-color: black;
}

.mobile-header {
    height: 88px !important;
}

.default-padding-top {
    padding-top: 8px;
}

.custom-hl {
    cursor: pointer;
}
.custom-hl .span:hover {
    background-color: yellow;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.m-td {
    font-size: 12px !important;
}

.m-td-2 {
    padding-left: 8px;
}

.m-td-last {
    font-size: 12px !important;
    border-bottom:0.5pt solid grey !important;
}

.fixed-food {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}
.fixed-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.paging {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.index-style{
    vertical-align : middle !important;
    text-align:center !important;
    font-size: 12px !important;
    padding-left: 0px !important;
}

.m-padding {
    padding: 4px !important;
}

.uk-tab > li.uk-active > a {
    background: rgba(122, 128, 125, 0.2) !important;
}

.m-pageable {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    margin-left: 8px !important;
    margin-right: 32px !important;
}

.custom-border {
    border: 3px solid white;
    padding: 10px;
    margin: 24px;
    border-radius: 25px;

}

.custom-border-m {
    border: 3px solid white;
    padding: 8px;
    margin: 8px;
    border-radius: 25px;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tr-grey {
    background: #ececec !important;
}

.fixed-column {
    width: 300px;
    overflow-x: scroll;
    margin-left: 50px;
    overflow-y: visible;
    padding-bottom: 1px;
}

.fixed-column-td {
    position:absolute;width:50px; left:0;
}

.headNoti {
    background: #363636 !important;
    border: none !important;
    box-shadow: none !important;
    text-transform: none !important;
    padding: 0px !important;
    font-size: 12px !important;
}

.custom-rotate{
    -webkit-transform:  translateY(-100%) rotate(90deg) ;
    transform:  translateY(-100%) rotate(90deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    overflow: scroll;
}

#page_content_inner {
     padding: 16px 16px 0px 16px !important;
}

table.uk-table th {
    text-align: left !important;
}
 .avatar-item {
     height: 100px !important;
     width: 100px !important;
     margin-top: 15px !important;
     border: 1px solid lightgrey !important;
     border-radius: 2px;
     overflow:hidden !important;
     text-overflow: ellipsis;
 }

.avatar-item-2 {
    height: 70px !important;
    width: 70px !important;
    border: 1px solid lightgrey !important;
    border-radius: 2px;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

 .custom-badge {
     color: #fff;
     font-size: 11px;
     font-weight: 400;
     position: absolute;
     left: 0;
     top: 8px;
     min-width: 20px;
     padding: 1px 4px;
     line-height: 14px;
     border-radius: 2px;
 }

 .big-badge {
     font-size: 14px;
     padding: 4px 24px 4px 24px;
 }

.normal-badge {
    font-size: 13px;
    padding: 2px 12px 2px 12px;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 530px;
}

.returned {
    color: orange !important;
}

.notEndProduct {
    color: mediumvioletred !important;
    font-weight: bold;
}

.notEndMoney {
    color: #caaa08 !important;
    font-weight: bold;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.left-16 {
    margin-left: 16px;
}

.route-header {
    font-size: 16px !important;
}

.uk-grid+.uk-grid, .uk-grid-margin, .uk-grid>*>.uk-panel+.uk-panel {
    margin-top: 16px !important;
}

input:not([type]).md-input, input[type=color].md-input, input[type=date].md-input, input[type=datetime-local].md-input, input[type=datetime].md-input, input[type=email].md-input, input[type=month].md-input, input[type=number].md-input, input[type=password].md-input, input[type=search].md-input, input[type=tel].md-input, input[type=text].md-input, input[type=time].md-input, input[type=url].md-input, input[type=week].md-input, select.md-input, textarea.md-input {
    min-height: 32px;
    padding: 0px 4px;

}