
<ul>
    <li th:each="change : ${changes}">
        <span><b th:text="${change.propertyName}"></b></span>:
        <span th:text="${change.oldValue}" style="background-color: #ffe7e7;text-decoration: line-through;"></span>
        <span > 🡺 </span>
        <span  th:text="${change.newValue}" style="background-color: #ddfade;"></span>
    </li>
    <!--<li th:if="${#strings.contains(change.propertyName,'Date')}">-->
        <!--<span><b th:text="${change.propertyName}"></b></span>:-->
        <!--<span th:if="${change.oldValue}" th:text="${#dates.format(new java.util.Date(change.oldValue), 'dd/MM/yyyy HH:mm:ss')}" style="background-color: #ffe7e7;text-decoration: line-through;"></span>-->
        <!--<span th:if="${change.oldValue}"> 🡺 </span>-->
        <!--<span th:if="${change.newValue}" th:text="${#dates.format(new java.util.Date(change.newValue), 'dd/MM/yyyy HH:mm:ss')}" style="background-color: #ddfade;"></span>-->
    <!--</li>-->
</ul>

