<style>
    body {
        background-image: url("assets/img/bg.png");
        background-color: #cccccc;
        background-size:cover;
        opacity: 80%;

    }
</style>


<div class="login_page_wrapper">
    <jhi-alert></jhi-alert><modal-alert></modal-alert>
    <div class="md-card" id="login_card" style="opacity: 0.8 !important;">
        <div class="md-card-content large-padding" id="login_form" >

            <div style="text-align: center">
                <div style="text-align: center">
                    <b style="font-size: 42px">DAC</b>
                </div>
            </div>

            <form ng-submit="vm.login($event)">
                <!--                        <div class="uk-form-row" ng-show="vm.authenticationError">-->
                <!--                            <div ng-show="vm.authenticationError" class="uk-alert uk-alert-danger"  >-->
                <!--                                <strong>Đăng nhập không thành công!</strong><br><span>Xin hãy kiểm tra lại email/mật khẩu.</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <div class="uk-form-row">
                    <span class="uk-text-primary">Tên đăng nhập</span>
                    <input style="border-bottom: 1px solid" class="md-input"  type="text" id="email" ng-model="vm.account" md-input />
                </div>
                <div class="uk-form-row">
                    <!--<label for="password" data-translate="global.common.password"></label>-->
                    <span class="uk-text-primary">Mật Khẩu</span>
                    <input  style="border-bottom: 1px solid" class="md-input" type="password" id="password" ng-model="vm.password" md-input />
                </div>
                <div class="uk-margin-medium-top">
                    <button ng-if="!logining" type="submit" class="md-btn  md-btn-block md-btn-large md-btn-primary">
                        Đăng Nhập
                    </button>
                    <span disabled ng-if="logining" class="uk-text-italic">Đang kiểm tra...</span>
                </div>

                <!--<div class="uk-margin-top">-->
                <!--<span class="icheck-inline">-->
                <!--<input type="checkbox" name="login_page_stay_signed" id="rememberMe" icheck ng-model="vm.rememberMe" />-->
                <!--<label for="rememberMe" class="inline-label" data-translate="global.common.staySignedIn"></label>-->
                <!--</span>-->
                <!--</div>-->
                <form class="uk-grid">
                    <div class="uk-width-medium-1-1">
                        </br>
                        <a data-uk-modal="{target:'#modal_overflow'}" > Quên Mật Khẩu</a>
                        <!--                                <a ui-sref="register" style="float: right;" class="uk-text-success">Đăng ký</a><br>-->
                    </div>
                    <div id="modal_overflow" class="uk-modal">
                        <div class="uk-modal-dialog" ng-show="!sendMail">
                            <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
                            <h2 class="heading_a" >Quên mật khẩu</h2>
                            <h3>
                                <label class="label-bold" for="email" >Hệ thống sẽ gửi mail khôi phục mật khẩu vào email của bạn. Kiểm tra hộp thư đến hoặc Spam<br></label>
                            </h3>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-3-3">
                                    <label class="label-bold">Email</label>
                                    <input class="md-input" id="emailForgot" type="email" ng-model="emailForgot" ng-change="emailForgotChange()">
                                    <span ng-show="checkEmail" class="uk-text-danger" >Email không hợp lệ</span>
                                </div>
                            </div>
                            <span ng-show="failed" class="uk-alert uk-alert-danger">Gửi mail thất bại</span>
                            <div class="uk-modal-footer uk-text-right">
                                    <span>
                                        <button type="button" class="md-btn md-btn-flat " ng-click="submitEmail()" >Gửi</button>
                                        <button type="button" class="md-btn md-btn-flat uk-modal-close" >Hủy</button>
                                    </span>
                            </div>
                        </div>
                        <div class="uk-modal-dialog" ng-show="sendMail">
                            <span class="uk-alert uk-alert-success">Gửi mail thành công</span>
                            <div class="uk-modal-footer uk-text-right">
                                    <span>
                                        <button type="button" class="md-btn md-btn-flat uk-modal-close">OK</button>
                                    </span>
                            </div>
                        </div>
                    </div>
                </form>
            </form>
        </div>
    </div>
</div>