<style>
    body {
        background-image: url("assets/img/agri.jpg");
        background-color: #cccccc;
        background-size:cover

    }
</style>

<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
        <jhi-alert></jhi-alert><modal-alert></modal-alert>
        <div class="md-card-content large-padding" id="login_form">
            <h2 class="uk-text-success"style="text-align: center">MY CASH</h2>
            <form ng-submit="vm.reset($event)" ng-show="validLink">
                <div class="uk-form-row">
                    <span >Email</span>
                    <input ng-disabled="true" class="md-input" type="text" id="email" ng-model="vm.email" md-input />
                </div>
                <div class="uk-form-row">
                    <!--<label for="password" data-translate="global.common.password"></label>-->
                    <span>Mật khẩu mới</span>
                    <input class="md-input" type="password" id="password" ng-model="vm.newPassword" md-input />
                </div>
                <div class="uk-form-row">
                    <!--<label for="password" data-translate="global.common.password"></label>-->
                    <span>Xác nhận mật khẩu</span>
                    <input class="md-input" type="password" id="confirmPassword" ng-model="vm.confirmPassword" md-input />
                </div>
                <div class="uk-margin-medium-top">
                    <button type="submit" class="md-btn md-btn-success md-btn-block md-btn-large">Đổi mật khẩu</button>
                </div>
            </form>
            <h4 ng-show="!validLink" style="text-align: center" class="uk-text-danger">Đường link không hợp lệ hoặc đã hết hạn</h4>
        </div>
    </div>
</div>