<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="margin: 0; padding: 0;">

<div style="width: 100% !important; background-color: #e8f5e9 !important;" >

    <p>&nbsp;</p>
    <div style="margin: auto; width: 60%;border: 1px solid grey;  background-color: white !important;">
        <div style="width: 100% !important; background-color: #85bb65 !important; padding: 3px 0px 3px 0px" >
            <h3 style="color: white; padding-left: 10px">HỆ THỐNG DAC - VNPT TECHNOLOGY</h3>
        </div>
        <div style="padding: 16px;">
            <p th:text="#{email.activation.greeting(${user.fullName})}"></p>
            <p th:text="#{email.creation.text1}">
                <span th:text="#{email.creation.text1}"></span>
            </p>
            <p><b>Tài khoản: </b><span th:text="${user.email}"></span></p>
            <p><b>Mật khẩu: </b><span th:text="${user.newPassword}"></span></p>
            <a style="text-align: center" th:href="${RESET_URL}">Bấm vào đấy để truy cập hệ thống và đổi mật khẩu</a>

            <p>
                <span th:text="#{email.activation.text2}"></span>
            <p><em th:text="#{email.signature}"></em></p>
            </p>
        </div>

    </div >
    <p style="text-align: center">&nbsp;</p>
</div>
</body>
</html>

























