<div id="page_content">
    <div id="page_content_inner" >
        <jhi-alert></jhi-alert><modal-alert></modal-alert>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-margin-small-top">
                    <span class="route-header">
                        <a ui-sref="roles" >Danh sách vai trò</a>
                    </span>

                    <button has-any-authority ="ROLE_SYSTEM_ADMIN,ROLE_ORGANIZATION, role_delete" id="deleteBtn" class="md-btn md-btn-small hideElement float-right left-16" ng-click="defaultDelete()">
                        <span class="uk-text-bold" data-translate="global.button.delete"></span>
                    </button>
                    <a has-any-authority ="ROLE_SYSTEM_ADMIN, ROLE_ORGANIZATION,role_create" ui-sref="roles-create" class="md-btn md-btn-primary md-btn-small float-right ">
                        <span class="uk-text-bold" data-translate="global.button.create"></span>
                    </a>
                </div>

                <br>
                <div class="uk-overflow-container uk-margin-bottom" ng-style="fullsize">
                    <table class="hoverTable uk-table uk-table-align-vertical uk-table-striped uk-table-nowrap tablesorter tablesorter-altair table-fixed" id="roles">
                        <thead>
                        <tr>
                            <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                            <th><th-content table="TABLES['roles']" label="'admin.role.column.Name'" column="'displayName'"></th-content></th>
                            <th><th-content table="TABLES['roles']" label="'admin.role.column.Description'"  column="'description'"></th-content></th>
                            <th><th-content table="TABLES['roles']" label="'admin.role.column.type'"   column="'type'"></th-content></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><default-filter table="TABLES['roles']" column="'displayName'"></td>
                            <td><default-filter table="TABLES['roles']" column="'description'"></td>
                            <td>
                                <!--<role-type label="'global.placeholder.search' | translate" table="TABLES['roles']"></role-type>-->
                                <common-search values="typeFields" field="'type'" label="'global.placeholder.search' | translate" table="TABLES['roles']"></common-search>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="role in roles" on-last-repeat ng-class="{'hoverRow': !role.unRemove, 'custom-un-remove': role.unRemove}" title="{{role.unRemove}}">
                            <td><input id="{{role.id}}" type="checkbox" class="ts_checkbox" data-md-icheck icheck ng-model="row_select"></td>
                            <td><a ui-sref="roles-detail({roleId: role.id})">{{role.displayName}}</a></td>
                            <td>{{role.description}}</td>
                            <td>
                                <span ng-if="role.type" data-translate="admin.role.column.default"></span>
                                <span ng-if="!role.type" data-translate="admin.role.column.custom"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ts_pager" id="table_role_pager">
                    <ul class="uk-pagination ts_pager">
                        <li ng-click="selectPageClickHandle()" data-uk-tooltip title="{{selectPage}}">
                            <input ng-change="selectPageHandle('roles')" id="role_selectize_page" type="text"
                                   config="TABLES['roles'].selectize_page_config" options="TABLES['roles'].selectize_page_options"
                                   ng-model="TABLES['roles'].selectize_page" name="TABLES['roles'].selectize_page" selectize>
                        </li>
                        <li><a href="javascript:void(0)" class="firstPage" ng-click="handleFirstPage('roles')"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li><a href="javascript:void(0)" class="prevPage" ng-click="handlePreviousPage('roles')"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pageDisplay">1-20/50</span></li>
                        <li><a href="javascript:void(0)" class="nextPage" ng-click="handleNextPage('roles')"><i class="uk-icon-angle-right"></i></a></li>
                        <li><a href="javascript:void(0)" class="lastPage" ng-click="handleLastPage('roles')"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="{{pageSize}}">
                            <input ng-change="selectPageNumHandle('roles')" id="role_selectize_pageNum" type="text"
                                   config="TABLES['roles'].selectize_pageNum_config" options="TABLES['roles'].page_size_option"
                                   ng-model="TABLES['roles'].selectize_pageNum" name="TABLES['roles'].selectize_pageNum" selectize>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
