<div id="page_content">
    <form name="form_createrole" id="form_createrole"
          class="uk-form-stacked ng-pristine ng-invalid ng-invalid-required" novalidate="">
        <div id="page_content_inner">
            <jhi-alert></jhi-alert><modal-alert></modal-alert>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-margin-small-top">
                        <span class="route-header">
                            <a ui-sref="roles"  >Danh sách vai trò</a>&nbsp;<i class="uk-icon-arrow-circle-right"></i>
                            <span>Tạo mới</span>
                        </span>

                        <button ng-click="submit(false)" type="submit" class="md-btn md-btn-primary md-btn-small float-right left-16"><span class="uk-text-bold" data-translate="global.button.save"></span></button>
                        <a ui-sref="roles" class="md-btn md-btn-small float-right"><span class="uk-text-bold" data-translate="global.button.cancel"></span></a>
                    </div>
                    <hr>
                    <div class="uk-grid" data-uk-grid-margin="">
                            <div class="uk-width-medium-1-2 uk-row-first">
                                <div class="parsley-row">
                                    <label class="label-bold" for="name" data-translate="admin.role.column.roleName"></label> <span
                                            class="req"> (*)</span>
                                    <input data-parsley-required-message={{required_msg}}
                                           data-parsley-whitespace="trim"
                                           data-parsley-maxlength-message="{{maxLength255}}"
                                           data-parsley-maxlength="255"
                                           ng-model="role.name" type="text" name="name" id="name" required=""
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar "></span>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 uk-row-first">
                                <div class="parsley-row">
                                    <label class="label-bold" for="description" data-translate="admin.role.column.Description"><span
                                            class="req"> *</span></label>
                                    <input data-parsley-required-message={{required_msg}}
                                           data-parsley-whitespace="trim"
                                           data-parsley-maxlength-message="{{maxLength255}}"
                                           data-parsley-maxlength="255"
                                           ng-model="role.description" type="text" name="description"
                                           id="description"
                                           class="md-input ng-isolate-scope md-input-processed" md-input="">
                                    <span class="md-input-bar "></span>
                                </div>
                            </div>

                        </div>
                </div>
            </div>

            <div class="uk-grid data-uk-grid-margin" >
                <div class="uk-width-medium-2-5" >
                    <div class="md-card" >
                        <div class="md-card-content" >
                            <h3 class="heading_a uk-margin-bottom" data-translate="admin.role.column.AvailablePrivileges"></h3>
                            <div class="uk-grid uk-margin-small-bottom" >
                                <div class="uk-width-medium-1-1" id="filter_switches">
                                    <div class="uk-margin-bottom">
                                        <div class="uk-input-group">
                                            <input type="text" class="md-input" placeholder="{{'admin.role.column.FilterTree' | translate}}" id="filter_input" ng-model="tree.filterInput">
                                            <span class="uk-input-group-addon"><button class="md-btn md-btn-small" href="#" id="tree_filter_reset" ng-click="resetFilters($event)" ng-disabled="tree.filterInput == ''" data-translate="global.button.clear"></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-1" >
                                    <div id="tFilter"  style="height: 1080px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-5">
                    <div class="md-card">
                        <div class="md-card-content">
                        <div class="uk-width-medium-2-3 uk-align-center uk-margin-medium-top">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-1 uk-margin-bottom">
                                    <a id="addSelect" class="md-btn md-btn-wave md-btn-primary md-btn-block" href="javascript:void(0)" ng-click="addPrivilege()">></a>
                                </div>
                                <div class="uk-width-medium-1-1 uk-margin-bottom">
                                    <a id="addAll" class="md-btn md-btn-wave md-btn-primary md-btn-block" href="javascript:void(0)" ng-click="addAllPrivilege()">>></a>
                                </div>
                                <div class="uk-width-medium-1-1 uk-margin-bottom">
                                    <a id="removeSelect" class="md-btn md-btn-wave md-btn-danger md-btn-block" href="javascript:void(0)" ng-click="removePrivilege()"><</a>
                                </div>
                                <div class="uk-width-medium-1-1 uk-margin-bottom">
                                    <a id="removeAll" class="md-btn md-btn-wave md-btn-danger md-btn-block" href="javascript:void(0)" ng-click="removeAllPrivilege()"><<</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-2-5">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-bottom" data-translate="admin.role.column.SelectPrivileges"></h3>
                            <div class="uk-grid uk-margin-small-bottom">
                                <div class="uk-width-medium-1-1" id="filter_switches_selected">
                                    <div class="uk-margin-bottom">
                                        <div class="uk-input-group">
                                            <input type="text" class="md-input" placeholder="{{'admin.role.column.FilterTree' | translate}}"  id="filter_input_selected" ng-model="tree_selected.filterInput">
                                            <span class="uk-input-group-addon"><button class="md-btn md-btn-small" href="#" id="tree_selected_filter_reset" ng-click="resetFilters_selected($event)" ng-disabled="tree_selected.filterInput == ''" data-translate="global.button.clear"></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-1">
                                    <div id="tFilter_selected" style="height: 1080px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>